*{
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

header h1{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    margin: 0;
}
body{

}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 502px;
    height: 502px;
    border: 1px solid black;
    border-radius: 5px;
}

.properties{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
    gap: 10%;
}

#colorpicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;

}
#colorpicker::-webkit-color-swatch{
    border-radius: 50%;
    border: 1px solid #000000;
    box-shadow: 0 0 1rem #000000;
}






/* CSS */
#rainbow-btn {
  background-color: initial;
  background-image: conic-gradient(#9400D3, #4B0082, #0000FF	,#00FF00	,#FFFF00	,#FF7F00	,#FF0000	);
  border-radius: 6px;
  filter: blur(0.5px);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

#rainbow-btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}